
{block content}

<div id="banner">
	<h1 n:block=title>Emaily</h1>
</div>

<div id="content">
	<h2>Spamer emailu by <a href="http://mayaleh.cz">S.Mayaleh</a></h2>

	{control addForm}


</div>
{/block}
{block tableRows}
	{foreach $allEmails as $row}
		<tr>
			<td>{$row->email}</td>
			<td>{$row->zprava}</td>
			<td>
				<a n:href="delete $row->id">delete</a>
			</td>
		</tr>
	{/foreach}
{/block}


{block style}
	<style>
		html { font: normal 18px/1.3 Georgia, "New York CE", utopia, serif; color: #666; -webkit-text-stroke: 1px rgba(0,0,0,0); overflow-y: scroll; }
		body { color: #333; width: 90%; max-width: 1200px; margin-left: auto; margin-right: auto;}

		a { color: #006aeb; padding: 3px 1px; }
		a:hover, a:active, a:focus { background-color: #006aeb; text-decoration: none; color: white; }

		#banner { border-radius: 12px 12px 0 0; text-align: center; background-color: #003a81;}

		h1 { font: inherit; color: white; font-size: 50px; line-height: 121px; margin: 0; padding-left: 4%; text-shadow: 1px 1px 0 rgba(0, 0, 0, .9); }
		@media (max-width: 600px) {
			h1 { background: none; font-size: 40px; }
		}

		#content { background: white; border: 1px solid #eff4f7; border-radius: 0 0 12px 12px; padding: 10px 4%; overflow: hidden; }

		h2 { margin-top: 50px }

		img { border: none; float: right; margin: 0 0 1em 3em; }
		table{
			margin-top: 25px;
		}
		table, tr{
			width: 100%;
			background-color: white;
			border-collapse: collapse;
			border: 1px solid gray;
		}
		td, th{
			text-align: center;
			padding: 5px;
			border-collapse: collapse;
			border: 1px solid gray;
		}
		th{
			font-size: 20px;
			font-weight: bold;
		}
	</style>
{/block}

{block pageContent}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
    <meta name="Author" content="Salim Mayaleh" />

	<title>{ifset title}{include title|stripHtml} | {/ifset} S. Mayaleh</title>

	{include style}
</head>

<body>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

{include content}
<h2>Uložené emaily:</h2>
<table>
	<tbody>
	<tr>
		<th>Email</th>
		<th>Zpráva</th>
		<th>Akce</th>
	</tr>
	{include tableRows}
	</tbody>
</table>

{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
{/block}
</body>
</html>
{/block}